body {
    color: #4d4e53;
}

.sidebar {
    margin-top: 65px;
}

.sidebar ul li a {
    /*color: #666666;*/
    color: #FFFFFF;
    /*color: #FFFFFF;*/
}

.sidebar ul li a.active {
    /*background-color: rgba(33, 152, 243, 1);*/
    /*background-color: #666666;*/
    /*background-color: #FFFFFF;*/
    /*background-color: #000000;*/
    /*background-color: #111111;*/
    /*background-color: #0042CD;*/
    /*background-color: #EAC100;*/
    background-color: #298000;
    /*color: #000000;*/
    /*color: #111111;*/
    /*color: #00CBC3;*/
    color: #FFFFFF;
}

.nav {
    /*background-color: #002980;*/
    background-color: #002167;
}

.nav li a.dropdown-toggle {
    min-height: 64px;
}

.nav li a.dropdown-toggle i {
    font-size: 20px;
    position: relative;
    top: 8px
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: black;
    background-color: rgba(255, 255, 255, 1);
    /*background-color: #FFFFFF;*/
}

.nav > li > a.dropdown-toggle {
    color: white;
    /*background-color: #2196F3;*/
    /*background-color: #0c7cd5;*/
    /*background-color: #FF9200;*/
    /*background-color: #002980;*/
    background-color: #111111;
    /*background-color: rgba(33, 152, 243, 1);*/
}

.nav > li > a.dropdown-toggle:hover {
    color: black;
    background-color: #FFFFFF;
}

.nav > li > a:hover, .nav > li > a:focus {
    /*background-color: #FFFFFF;*/
    /*background-color: #002980;*/
    background-color: #002167;
    /*color: #000000;*/
    /*color: #00CBC3;*/
    color: #94bf7f;
}

.officer-name-in-navbar {
    position: relative;
    top: 8px;
    font-size: large;
}

.navbar {
    /*background-color: #2196F3;*/
    /*background-color: #0c7cd5;*/
    /*background-color: #FF9200;*/
    /*background-color: #002980;*/
    background-color: #111111;
    /*background-color: rgba(33, 152, 243, 1);*/
}

.navbar-default .navbar-brand {
    color: white;
    /*color: black;*/
}

.navbar-default .navbar-brand:hover {
    color: white;
    text-decoration: underline;
}

.arrow {
    position: relative;
    top: 3px;
}

.login-heading-div {
    text-align: center;
    margin-bottom: 2%;
}

.login-heading {
    color: #FFFFFF;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.frs-error-message {
    font-size: 1.1em;
    font-weight: bold;
}

.modalTableHeader {
    text-align: start;
    padding: 5px;
    font-size: medium;
}

.modalTableCell {
    text-align: start;
    /*padding: 0;*/
    font-size: medium;
}

.login-panel {
    margin-top: 15%;
}

.dropzone {
    border: dashed 5px #666666;
    /*border: dashed 3px rgba(33, 152, 243, 1);*/
    padding: 200px;
}

.dz-message span {
    font-size: 2em;
}

@media (max-width: 600px) {
    .dropzone div span {
        font-size: 1.3em;
    }
}

#wrapper {
    /*background-color: #002980;*/
    background-color: #00082F;
}

#page-wrapper, #login-wrapper {
    background: url("../img/background.jpg") no-repeat center center;
    background-size: cover;
}

#login-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
}

.panel-default > .panel-heading {
    background-color: rgba(0, 41, 128, 1);
    color: #FFFFFF;
}

.panel-body {
    background-color: #EEEEEE;
}

.page-header {
    /*color: #111111;*/
    color: #EEEEEE;
    margin-top: 50px;
    font-weight: 500;
    font-size: 2.1em;
}

.page-header-background {
    background-color: #002980;
}

input[type='search'] {
    border: 1px solid #111111;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    border: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    padding: 0;
    border: 0;
}

.about-container {
    clear: both;
}

.about-system-write-up {
    /*font-family: 'Indie Flower', "sans-serif";*/
    font-size: 1.5em;
}

.about-photo {
    width: 100px;
    border: 1px solid #999999;
    /*float: left;*/
}

.about-section {
    padding: 30px 0;
    border: 1px solid #999999;
    margin: 10px 0;
}

.about-person-write-up {
    font-size: 1.3em;
    display: inline;
    margin-left: 50px;
    border: 1px solid #999999;
    /*float: right;*/
}