.text-1point5x {
    font-size: 1.5em;
}

.text-2x {
    font-size: 2em;
}

.text-2point5x {
    font-size: 2.5em;
}

.text-3x {
    font-size: 3em;
}

.text-4x {
    font-size: 4em;
}

.text-5x {
    font-size: 5em;
}

.text-6x {
    font-size: 6em;
}

.text-7x {
    font-size: 7em;
}

.no-padding {
    padding: 0 0 0 0;
}

.no-margin {
    margin: 0 0 0 0;
}

.line-height-initial {
    line-height: initial;
}

.line-height-inherit {
    line-height: inherit;
}

.line-height-75percent {
    line-height: 75%;
}

.display-inline {
    display: inline;
}

.margin-right-10px {
    margin-right: 10px;
}

.font-white {
    color: white;
}

.image-50-50 {
    height: 50%;
    width: 50%;
}

.image-30-30 {
    height: 30%;
    width: 30%;
}

.image-20-20 {
    height: 20%;
    width: 20%;
}

.text-align-center {
    text-align: center;
}

.text-bold {
    font-weight: 900;
}